/* Here is the css for the first page on the laptop
****************************************************
*****   some short cuts to find css parts:   *******
*****   Press ctrl + f and search for the #  *******
****************************************************
*---------------* Second page *------------------***
*               **************                   ***               
*                                                ***                                          
*       #SecondPage-0 --> container css          ***
*                                                ***                                             
*       #SecondPage-1 -->  top part with titel   ***
*                                                ***
*       #SecondPage-2 --> pinputs css            ***
*                                                ***
*       #SecondPage-3 --> Extra persone button   ***
*                                                ***
*       #SecondPage-4 --> page buttons part css  ***
*                                                ***
*------------------------------------------------***

*/


/*Second screen container #SecondPage-0 */

.second-screen {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 0.8fr 1fr;
}

.screen2 {
    width: 100%;
    height: 100%;
    display: grid;
}

.screen2:last-child {
    grid-template-columns: 1fr 2fr 1fr;
}


/* Titel css part #SecondPage-1 */

.titel-container {
    justify-self: center;
    width: 60%;
    height: 100%;
    text-align: center;
    color: white;
}

.titel2 {
    background-color: var(--HouseColour);
}


/* Input css part #SecondPage-2 */

.input-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.input-second-page {
    justify-self: center;
    align-self: center;
    height: 55%;
    width: 80%;
}

.input-second-page input,
.input-second-page select {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    outline: none;
    background-color: var(--HouseColour);
    border: 3px solid var(--HouseColour);
    color: white;
    font-size: calc(10px + 1.5vh);
}

.input-second-page input:focus {
    border: calc(1px + 0.3vh) solid var(--BorderFoccus);
}


/* Extra persone btn css part #SecondPage-3 */

.btn-extra-persone {
    justify-self: center;
    align-self: center;
    width: 40%;
    height: 70%;
}

.btn-extra-persone button {
    height: 100%;
    width: 100%;
    border-radius: 16px;
    outline: none;
    background-color: white;
    border: 2.2px solid var(--HouseColour);
    color: var(--HouseColour);
    display: grid;
}

.btn-extra-persone button b {
    align-self: center;
    justify-self: center;
    font-size: calc(8px + 0.8vh);
}

.btn-extra-persone button:hover {
    background-color: var(--HouseColour);
    color: #ffffff;
    transition: background-color 1s ease-in-out;
}


/* page buttons this code als is for the page buttons on page 3! #SecondPage-4 */

.container-page-button {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}

.container-page-button button {
    align-self: center;
}

.page-back-button {
    max-width: 21vh;
    line-height: 130%;
    font-weight: 600;
    font-size: calc(8px + 1vh);
    border-radius: 3px;
    height: 60%;
}

.container-page-button b {
    color: #ffffff;
}

.button-ready {
    --button-width: 21vh;
    --background: var(--BorderFoccus);
    --background-transparent: rgba(64, 70, 96, 0);
    --background-hover: var(--HouseColour);
    --background-back: #51af04;
    --shadow: rgba(0, 9, 61, 0.125);
    --text: #F6F8FF;
    --paper: white;
    --paper-lines: var(--HouseColour);
    --paper-shadow: rgba(0, 9, 61, 0.15);
    --zipper: #BBC1E1;
    --zipper-end: #D1D6EE;
    --zipper-line: #8A91B4;
    --zipper-lines: #646B8C;
    --tick: #F6F8FF;
    display: -webkit-box;
    display: flex;
    outline: none;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 0;
    line-height: 130%;
    font-family: inherit;
    font-weight: 600;
    border-radius: 3px;
    color: var(--text);
    background: var(--background-back);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: scale(var(--scale, 1)) translateZ(0);
    transform: scale(var(--scale, 1)) translateZ(0);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid var(--BorderFoccus);
    font-size: calc(8px + 1vh);
}

.button-ready:not(.compress):active {
    --scale: .95;
}

.button-ready:not(.compress):hover {
    --background: #ffffff;
    --text: var(--BorderFoccus);
}

.button-ready .paper {
    width: 26px;
    height: 32px;
    pointer-events: none;
    position: absolute;
    top: -2px;
    left: var(--left, 50%);
    margin: 0 0 0 -13px;
    background: var(--paper);
    border-radius: 3px;
    box-shadow: 0 1px 1px var(--paper-shadow);
    opacity: 0;
    -webkit-transform: translate(var(--x, 0), var(--y, -68px));
    transform: translate(var(--x, 0), var(--y, -68px));
}

.button-ready .paper:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 6px;
    width: 18px;
    height: 2px;
    border-radius: 1px;
    background: var(--paper-lines);
    box-shadow: 0 6px 0 var(--paper-lines), 0 12px 0 var(--paper-lines), 0 18px 0 var(--paper-lines);
}

.button-ready .paper.left {
    --left: 25%;
    --x: -12px;
    --y: -52px;
}

.button-ready .paper.right {
    --left: 75%;
    --x: 12px;
    --y: -52px;
}

.button-ready .inner {
    position: relative;
    z-index: 1;
    padding: 10px 0;
    width: var(--button-width);
    border-radius: 3px;
    color: var(--text);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background: var(--b, var(--background));
    box-shadow: 0 1px 2px var(--shadow), 0 4px 7px var(--shadow);
    -webkit-transition: background .4s;
    transition: background .4s;
}

.button-ready .inner span {
    display: block;
    opacity: var(--span-o, 1);
    -webkit-transform: translateY(var(--span-y, 0)) translateZ(0);
    transform: translateY(var(--span-y, 0)) translateZ(0);
    -webkit-transition: opacity 0.3s linear var(--span-de, 0.5s), -webkit-transform 0.3s ease var(--span-de, 0.5s);
    transition: opacity 0.3s linear var(--span-de, 0.5s), -webkit-transform 0.3s ease var(--span-de, 0.5s);
    transition: transform 0.3s ease var(--span-de, 0.5s), opacity 0.3s linear var(--span-de, 0.5s);
    transition: transform 0.3s ease var(--span-de, 0.5s), opacity 0.3s linear var(--span-de, 0.5s), -webkit-transform 0.3s ease var(--span-de, 0.5s);
}

.button-ready .inner svg {
    width: 20px;
    height: 16px;
    display: block;
    position: absolute;
    top: 14px;
    left: calc(var(--button-width) / 2);
    margin-left: -10px;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--tick);
    opacity: var(--tick-o, 0);
    -webkit-transform: scale(var(--tick-s, 0.5));
    transform: scale(var(--tick-s, 0.5));
    -webkit-transition: opacity 0.3s linear var(--tick-de, 0s), -webkit-transform 0.4s ease var(--tick-de, 0s);
    transition: opacity 0.3s linear var(--tick-de, 0s), -webkit-transform 0.4s ease var(--tick-de, 0s);
    transition: transform 0.4s ease var(--tick-de, 0s), opacity 0.3s linear var(--tick-de, 0s);
    transition: transform 0.4s ease var(--tick-de, 0s), opacity 0.3s linear var(--tick-de, 0s), -webkit-transform 0.4s ease var(--tick-de, 0s);
}

.button-ready .inner .zipper {
    width: calc(var(--button-width) + 2%);
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    overflow: hidden;
    opacity: 0;
}

.button-ready .inner .zipper:before,
.button-ready .inner .zipper:after {
    content: '';
    position: absolute;
    top: var(--top, 1px);
    left: var(--left, 1px);
    height: 3px;
    width: 2px;
    border-radius: 1px;
    box-shadow: 5px 0 0 var(--zipper-lines), 10px 0 0 var(--zipper-lines), 15px 0 0 var(--zipper-lines), 20px 0 0 var(--zipper-lines), 25px 0 0 var(--zipper-lines), 30px 0 0 var(--zipper-lines), 35px 0 0 var(--zipper-lines), 40px 0 0 var(--zipper-lines), 45px 0 0 var(--zipper-lines), 50px 0 0 var(--zipper-lines), 55px 0 0 var(--zipper-lines), 60px 0 0 var(--zipper-lines), 65px 0 0 var(--zipper-lines), 70px 0 0 var(--zipper-lines), 75px 0 0 var(--zipper-lines), 80px 0 0 var(--zipper-lines), 85px 0 0 var(--zipper-lines), 90px 0 0 var(--zipper-lines), 95px 0 0 var(--zipper-lines), 100px 0 0 var(--zipper-lines), 105px 0 0 var(--zipper-lines), 110px 0 0 var(--zipper-lines), 115px 0 0 var(--zipper-lines), 120px 0 0 var(--zipper-lines), 125px 0 0 var(--zipper-lines), 130px 0 0 var(--zipper-lines), 135px 0 0 var(--zipper-lines), 140px 0 0 var(--zipper-lines), 145px 0 0 var(--zipper-lines);
    background: var(--zipper-lines);
}

.button-ready .inner .zipper:after {
    --top: 8px;
    --left: 3px;
}

.button-ready .inner .zipper .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200%;
    right: 12px;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(var(--background-transparent)), color-stop(33.33%, var(--background-transparent)), color-stop(66.66%, var(--background)), to(var(--background)));
    background: linear-gradient(to right, var(--background-transparent) 0%, var(--background-transparent) 33.33%, var(--background) 66.66%, var(--background) 100%);
    background-size: 300% 100%;
    background-position-x: var(--gradient, 100%);
    -webkit-transition: background-position var(--gradient-d, 0s) ease var(--gradient-de, 0s);
    transition: background-position var(--gradient-d, 0s) ease var(--gradient-de, 0s);
}

.button-ready .inner .zipper .line {
    width: calc(var(--button-width) + 12);
    height: 2px;
    margin: 5px 0;
    position: relative;
    left: -12px;
    z-index: 2;
    background: var(--zipper-line);
    -webkit-transform: translateX(calc(calc(var(--button-width) * -1) + 8px));
    transform: translateX(calc(calc(var(--button-width) * -1) + 8px));
}

.button-ready .inner .zipper .line:before,
.button-ready .inner .zipper .line:after {
    content: '';
    position: absolute;
    right: var(--right, 0);
    width: var(--width, 6px);
    height: var(--height, 2px);
    border-radius: 1px;
}

.button-ready .inner .zipper .line:before {
    background: var(--zipper-end);
}

.button-ready .inner .zipper .line:after {
    --right: -7px;
    --width: 8px;
    --height: 8px;
    -webkit-transform: translate(0, -3px) scaleY(0.6) rotate(-45deg);
    transform: translate(0, -3px) scaleY(0.6) rotate(-45deg);
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: var(--zipper);
}

.button-ready.compress {
    --span-o: 0;
    --span-y: 8px;
    --span-de: 0s;
    --tick-o: 1;
    --tick-s: 1;
    --tick-de: 3.2s;
    --gradient: 0%;
    --gradient-d: 1.8s;
    --gradient-de: 1.8s;
}

.button-ready.compress .paper {
    -webkit-animation: paper 1.8s linear forwards;
    animation: paper 1.8s linear forwards;
}

.button-ready.compress .inner {
    -webkit-animation: fold 1.8s linear forwards;
    animation: fold 1.8s linear forwards;
}

.button-ready.compress .inner .zipper {
    -webkit-animation: zipper 3.5s linear;
    animation: zipper 3.5s linear;
}

.button-ready.compress .inner .zipper .line {
    -webkit-animation: line 1.2s linear forwards 1.8s;
    animation: line 1.2s linear forwards 1.8s;
}

@-webkit-keyframes paper {
    10%,
    100% {
        opacity: 1;
    }
    0%,
    5% {
        -webkit-transform: translate(var(--x, 0), var(--y, -68px));
        transform: translate(var(--x, 0), var(--y, -68px));
    }
    30% {
        -webkit-transform: translate(0, 1px);
        transform: translate(0, 1px);
    }
    50%,
    70% {
        -webkit-transform: translate(0, -3px);
        transform: translate(0, -3px);
    }
    95%,
    100% {
        -webkit-transform: translate(0, 4px);
        transform: translate(0, 4px);
    }
}

@keyframes paper {
    10%,
    100% {
        opacity: 1;
    }
    0%,
    5% {
        -webkit-transform: translate(var(--x, 0), var(--y, -68px));
        transform: translate(var(--x, 0), var(--y, -68px));
    }
    30% {
        -webkit-transform: translate(0, 1px);
        transform: translate(0, 1px);
    }
    50%,
    70% {
        -webkit-transform: translate(0, -3px);
        transform: translate(0, -3px);
    }
    95%,
    100% {
        -webkit-transform: translate(0, 4px);
        transform: translate(0, 4px);
    }
}

@-webkit-keyframes line {
    60% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    80% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes line {
    60% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    80% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fold {
    10%,
    80% {
        -webkit-transform: perspective(500px) rotateX(-20deg) translateZ(16px);
        transform: perspective(500px) rotateX(-20deg) translateZ(16px);
    }
}

@keyframes fold {
    10%,
    80% {
        -webkit-transform: perspective(500px) rotateX(-20deg) translateZ(16px);
        transform: perspective(500px) rotateX(-20deg) translateZ(16px);
    }
}

@-webkit-keyframes zipper {
    20%,
    90% {
        opacity: 1;
    }
}

@keyframes zipper {
    20%,
    90% {
        opacity: 1;
    }
}

.page-back-button {
    width: 152px;
    background: var(--HouseColour);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
    border-radius: 3px;
}

.page-back-button:hover {
    transform: scale(1.1);
}

.page-back-button span {
    position: absolute;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999;
    transition: .6s linear;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    font-size: calc(8px + 1vh);
}

.page-back-button span a {
    align-self: center;
    color: var(--HouseColour);
    font-size: calc(8px + 1vh);
}

.page-back-button p {
    align-self: center;
    color: #ffffff;
    font-size: calc(8px + 1vh);
}

.page-back-button:hover span {
    transform: translateX(-100%);
    transition-delay: .3s;
}

.page-back-button:hover a {
    opacity: 1;
    transform: translateX(0);
}

.page-back-button a:nth-of-type(1) {
    transition-delay: 1s;
}

.page-back-button a:nth-of-type(2) {
    transition-delay: .8s;
}

.page-back-button a:nth-of-type(3) {
    transition-delay: .6s;
}

.page-back-button a:nth-of-type(4) {
    transition-delay: .4s;
}


/* styling for placeholders */

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    opacity: 0.7;
    padding-left: 5%;
    font-size: calc(12px + 1vh);
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 0.7;
    padding-left: 5%;
    font-size: calc(12px + 1vh);
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    opacity: 0.7;
    padding-left: 5%;
    font-size: calc(12px + 1vh);
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 0.7;
    padding-left: 5%;
    font-size: calc(12px + 1vh);
}