.container{
    margin: 0 auto;
    height: 100%;
    width: 1500px;
}

.container div.key:nth-child(1)
{
    left: 64%;
    animation: animate 15s linear infinite;
    animation-delay:-7s;
}
.container div.key:nth-child(2)
{
   left: 23%;
   animation: animate 20s linear infinite;
    animation-delay:-5s;
}
.container div.key:nth-child(3)
{
    left: 12%;
    animation: animate 25s linear infinite;
}
.container div.key:nth-child(4)
{
    left: 3%;
    animation: animate 15s linear infinite;
    animation-delay:-5s;
}
.container div.key:nth-child(5)
{
    left: 46%;
    animation: animate 18s linear infinite;
    animation-delay:-10s;
}
.container div.key:nth-child(6)
{
    left: 88%;
    animation: animate 12s linear infinite;
}
.container div.key:nth-child(7)
{
    left: 36%;
    animation: animate 14s linear infinite;
}
.container div.key:nth-child(8)
{
    left: 71%;
    animation: animate 17s linear infinite;

}

@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg) scale(0.2);
    }
    10%
    {
     opacity: 1;
    }
    20%
    {
        transform: translateX(20px) rotate(45deg) scale(0.2);
    }
    40%
    {
        transform: translateX(20px) rotate(90deg) scale(0.2);
    }
    60%
    {
        transform: translateX(20px) rotate(135deg) scale(0.2);
    }
    80%
    {
        transform: translateX(20px) rotate(185deg) scale(0.2);
    }
    100%
    {
        top: 110%;
        opacity: 0;
        transform: translateX(20px) rotate(225deg) scale(0.2);
    }
}

.big-keys{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
    z-index: 3;
}

.small-keys{
    transform: scale(0.8) rotateY(180deg);
    filter: blur(4px);
    z-index: 1;
}

.key {
    position: relative;
    z-index: 50;
  
    display: flex;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    overflow: hidden;

    background-color: #92b5cb;
    border: 1rem solid #626b70;
    border-radius: 3rem;
    transform: scale(0.2);
    cursor: pointer;

    transition: 0.1s;
    /*
  If you want to change the size of the keys you can write:
  transform: scale(0.5);
  */
}

/*
angle-shadow
*/
.angle-shadow {
    position: absolute;
}

.angle-shadow.top-section {
    top: 3rem;

    width: 7rem;
    height: 0.5rem;

    background-color: rgb(232, 232, 233);
    box-shadow: 0 0 1rem rgb(194, 208, 221);
}

.angle-shadow.bottom-section {
    bottom: 0rem;

    border-right: 1rem solid transparent;
    border-bottom: 9rem solid #d0d9e0;
    border-left: 1rem solid transparent;
}

.angle-shadow.left-top {
    left: 0.5rem;

    transform: rotate(36deg);
}

.angle-shadow.right-top {
    right: 0.5rem;

    transform: rotate(-36deg);
}

.angle-shadow.left-bottom {
    left: 2.5rem;

    transform: rotate(30deg);
}

.angle-shadow.right-bottom {
    right: 2.5rem;

    transform: rotate(-30deg);
}

.key .text {
    position: relative;
    top: 2rem;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;

    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #007da9;

    background-color: #e0e4e7;
    border: 1rem solid #ebe9ea;
    border-radius: 3rem;
    box-shadow: 0 -10rem 10rem 3rem #94b5c8,
    inset 0rem -0.8rem 2rem #a9c4d7;

    transition: 0.1s;

    -webkit-user-select:      none;
    -moz-user-select: -moz-none;
    user-select:      none;

    -khtml-user-select:      none;
    -o-user-select:      none;
}
main{
    padding: 5%
}
.flex{
    display: flex;
    justify-content: space-around;
}
.flex .grid-4{
    width:  33.33%;
    padding: 10px;
    height: 310px;
}
.grid-4{
    display: flex;
    justify-content: center;
    background-color: rgba( 0, 0,0, 0.2);
    border-radius: 5px;
    margin: 10px;
    position: relative;
}
.grid-6{
    width: 50%;
    display: flex;
    margin: auto;
}
.feature i{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    color: white;
}
.feature{
    text-align: center;
}
.feature--content{
    margin: 20px;
}
.feature--cta{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1em;
}
.btn--blk{
    text-decoration: none;
    color: #fff;
    background-color: #01ace4;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: .75rem;
    font-weight: 700;
    width: 100%;
    font-size: large;
    font-weight: bold;
}
.btn--blk:hover{
    background-color: #fff;
    color: #01ace4;
}
.log-in-button{
    text-decoration: none;
    color: #fff;
    background-color: #01ace4;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-size: .75rem;
    font-weight: 700;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top:10%;
    right:12%;
    text-decoration: none; 
}
.log-in-button:hover{
    background-color: #0479a0;
}

.school-card:hover{
    transform: rotateY(180deg);
}




/* flipeffect */
.flip-card {
    width: 400px;
    height: 350px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);
  }

  .flip-card-inner i{
      margin-top: 2%;
      margin-bottom: 5%;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .flip-card-back {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transform: rotateY(180deg);
  }
  /* end flipeffect */

